// Place all the styles related to the ingredients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: url('background-kitchen.png');
  background-size: cover;
  width: 100%;
  height: 100%;
  color: white;
  font-family: 'PT Sans', sans-serif;
}

.serif-font {
  font-family: 'Bitter', serif;
}

.logo {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  width: 100%;
  img {
   filter: invert(100%);
   position: relative;
   top: 3px;
  }
}

.slogan {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-weight: 100;
  opacity: 0.7;
  width: 100%;
}

.container {
  margin: 0 auto;
  margin-top: 100px;
  width: 800px;
}

.modal-box {
  width: 740px;
  min-height: 300px;
  background: white;
  border-radius: 10px 10px 0px 0px;
  color: #222;
}

.clear {
  clear: both;
}

header {
  margin-bottom: 30px;
}

h1 {
  margin: 0;
  padding: 0;
  width: calc(100% - 20px);
  color:white;
  background: #135198;
  padding: 10px 10px;
  font-size: 22px;
  border-radius: 10px 10px 0 0;
}

.button--new {
  width: calc(50% - 30px);
  padding: 15px;
  background: linear-gradient(270deg, #1ab78f, #1ab750, #089638);
  -webkit-animation: button--new 20s ease infinite;
  -moz-animation: button--new 20s ease infinite;
  animation: button--new 20s ease infinite;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  border-radius: 0px 0px 0px 10px;
  float: left;
  a {
    text-decoration: none;
    color: white;
  }
}

@-webkit-keyframes button--new {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes button--new {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes button--new {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.button--current {
  width: calc(50% - 30px);
  padding: 15px;
  background: linear-gradient(270deg, #1a7eb7, #1a63b7, #135198);
  -webkit-animation: button--new 20s ease infinite;
  -moz-animation: button--new 20s ease infinite;
  animation: button--new 20s ease infinite;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  border-radius: 0px 0px 10px 0px;
  float: left;

  a {
    text-decoration: none;
    color: white;
  }
}



.row {
  width: 100%;
  background: #eee;
  display: flex;
  flex-wrap: wrap;

  .cell {
    width: 100px;
    padding: 10px;

    &:nth-child(even) {
      background: rgba(0,0,0,0.05);
    }

    &:nth-child(1) {
      width: 160px;
    }

    &:nth-child(3) {
      width: 60px;
    }

  }

  &:nth-child(even) {
    background: rgba(0,0,0,0.05)
  }

  &:nth-child(1) {
    font-size: 12px;
    font-weight: bold;
    color: white;
    background: #1a7eb7;
  }

  .button--small-row {
    font-size: 11px;
    color: white;
    background: rgba(0,0,0,0.4);
    font-weight: bold;
    display: inline-block;
    text-align: right;
    padding: 5px;
    border-radius: 3px;
  }
}
