<div class="form">
<%= form_for @location do |i| %>
  <%= i.label :name %>
  <%= i.text_field :name %>

  <!--if new record, button text is "create" , else it is "update"-->
  <%= i.submit (@location.new_record? ? "Create" : "Update") %>
<% end %>
</div>
